PORT=3000
MONGODB_URI=your_mongodb_connection_string
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
ALLOWED_TELEGRAM_USERS=1778074826,8279630271,9897031292
PUPPETEER_CACHE_DIR=/opt/render/project/puppeteer

# Portal 1 Credentials
PORTAL1_URL=https://services.livpartner.com/ci_service/index.php/Login
PORTAL1_USERNAME=141000620
PORTAL1_PASSWORD=Sar@123
